Code
EnvKey
GIMP 
Insomnia
Slack
chromium
coc
spicetify
spotify
Cypress
Electron
ResponsivelyApp
Sqlectron
SuperCollider
configstore
google-chrome-beta
google-chrome
pgadmin
projectM
pulse
sqlectron

